/* 

    FONT FAMILIES
font-family: 'Allison', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Herr Von Muellerhoff', cursive;
font-family: 'Italianno', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Sassy Frass', cursive;
font-family: 'Zeyada', cursive;

*/


*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Comfortaa', cursive;
}

.d-flex{
    display: flex;
}

header{
    background-image: url(img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    box-shadow: 0 1px 10px rgb(0 0 0);
}

nav{
    padding-top:25px
}

nav ul.d-flex{
    justify-content: flex-end;
    align-items: center;
}

nav li{
    list-style: none;
    margin:0 50px 0 0;
}

nav,
.cover{
    background-color: rgba(255, 255, 255, 0.1);
}

h1{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 10em;
    font-weight: 500;
}



footer{
    margin: 250px 0px;
    text-align: center;
}

.member-card-section h2{
    text-align: center;
    margin: 150px auto;
    font-size: 4em;
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: 300;
}

.icon{
    width: 50px;
    height: 50px;
}

.icon:hover{
    transform: scale(1.2);

}

.cover{
    height: 100%;
}

.cover.d-flex{
    justify-content: center;
    align-items: center;
}

/* .member-card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
} */

.grid-wrapper{
    display:grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 250px);
    gap: 50px;
    margin:0px 50px;
    justify-content: center;
    justify-items: center;
}

.member-card{ 
    border-radius: 100%;
    width: 220px;
    height: 220px;
    box-shadow: 0 0 3px  rgb(0 0 0);
    overflow: hidden;
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition: border-radius 250ms, box-shadow 500ms, width 750ms, height 750ms, padding-top 500ms, transform 1s, overflow 500ms;
    position: relative;
    background: #fff;
}

.member-card::before{
    position: absolute;
    box-shadow: inset 0 0 3px  rgb(0 0 0);
    content: " ";
    width: 40px;
    height: 40px;
    bottom: 0px;
    left:90px;
    border-radius: 100%;
    z-index: 5px;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition: all 1500ms;
}

.member-card::after{
    position: absolute;
    content: " ";
    width:10px;
    height:10px;
    bottom: 15px;
    left: 105px;
    border-left: 2px solid rgb(92, 92, 92);
    border-bottom: 2px solid rgb(92, 92, 92);
    z-index: 6;
    transform: rotate(-45deg);
}

.member-card:hover{
    padding-top: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px  rgb(0 0 0);
    width:400px;
    min-height: 500px;
    z-index: 5;
    align-items: center;
    transform: rotate(360deg);
    overflow: visible;
}

.member-card:hover::before{
    width: 100px;
    height: 100px;
    background: url(img/one_ring.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -50px;
    left:150px;
    box-shadow: none;
}

/* .member-card:hover::before, */
.member-card:hover::after{
    display: none;
}

.member-face{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 10px auto;
    box-shadow: 0 0 3px  rgb(0 0 0);
}

.member-card h3{
    margin: 50px 25px 25px 25px;
    font-size: 2em;
    text-align: center;
    font-family: 'Bilbo Swash Caps', cursive;
}

.member-card p{
    margin:25px;
    text-align: justify;
    font-style: italic;
}

.member-card p::before{
    content: open-quote;
}

.member-card p::after{
    content: close-quote;
}

.quotes::before{
    content: open-quote;
}

.quotes::after{
    content: close-quote;
}

.join-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.join-section h2{
    margin-bottom: 75px;
    font-family: 'Bilbo Swash Caps', cursive;
}

.join-section h2::before{
    background: url(img/one_ring.png);
}

.join-section button{
    padding: 20px 50px;
    font-size: 2.5em;
    transition: transform 250ms, box-shadow 250ms;
    transition-timing-function: ease-in-out;
    font-family: 'Bilbo Swash Caps', cursive;
    background: none;
    border: none;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
}

.join-section button:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 5px #000;
}